*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --first-color: #2e2f42;
  --second-color: #ffffff;
  --brand-color: #4d5ae5;
  --text-color: #434455;
  --lith-color: #f4f4fd;
  --acent-color: #e7e9fc;
  --click-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.site-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--second-color);
}

.container {
  width: 1158px;
  padding: 0 12px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.header {
  border-bottom: 1px solid var(--acent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-email:hover,
.header-email:focus {
  color: var(--brand-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.first-leters {
  color: var(--brand-color);
}

.header-tel,
.header-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.hero {
  background: var(--first-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background: var(--brand-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 16px 32px;
  border: 1px solid transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--click-color);
}

.work {
  padding-bottom: 120px;
}
.team {
  padding: 120px 0;
}

.feature {
  padding: 120px 0;
}

.feature-item {
}

.feature-tile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.work-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-bottom: 72px;
}

.team {
  background: var(--lith-color);
}

.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 72px;
}

.team-item {
  background: var(--second-color);
}

.team-image {
  margin-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
  background: var(--lith-color);
  border: 1px solid var(--acent-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--second-color);
  background: var(--brand-color);
  border-color: var(--brand-color);
}

.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.footer {
  background: var(--first-color);
  padding-top: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lith-color);
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--acent-color);
}
